html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.content {
    padding-left: 10px;
    width: 480px;
    margin: 100px auto;
}
button {
    border: 0;
    width: 200px;
    height: 200px;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    border-radius: 50px;
    background: #e2e6e9;
    box-shadow:  20px 20px 60px #c0c4c6, 
                -20px -20px 60px #ffffff;
    margin: 20px 0 0 20px;
}

button:active {
    border-radius: 50px;
    background: #e2e6e9;
    box-shadow: inset 20px 20px 60px #c0c4c6, 
                inset -20px -20px 60px #ffffff;
}